::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    background: #111111;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
}

 ::-moz-selection {
    color: rgb(16, 16, 16);
    background: rgb(131, 131, 131);
}

 ::selection {
    color: rgb(16, 16, 16);
    background: rgb(131, 131, 131);
}

* {
    font-family: 'Open sans';
    color: white;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 300px;
    margin: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
    max-height: 100vh;
    overflow-y: auto;
}

#dropdowncatintro p {
    background-color: blueviolet;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: absolute;
    text-align: center;
    font-family: 'Open sans';
}

#dropdowncatprimitives p {
    background-color: #ec4444;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: absolute;
    text-align: center;
    font-family: 'Open sans';
}

#dropdowncatbuiltin p {
    background-color: #36c761;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    position: absolute;
    text-align: center;
    font-family: 'Open sans';
}

h1 {
    font-size: 300%;
    font-family: 'Open sans';
    font-weight: 300;
    z-index: 100;
}

body {
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 0;
}

.body {
    background-color: rgb(29, 29, 29);
    width: calc(85vw - 300px);
    margin: 0;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -10;
}

.body.index {
    margin-top: 100vh;
    min-height: 100vh;
}

.dropdown span {
    position: relative;
    display: block;
    min-width: 100%;
    background-color: rgb(41, 41, 41);
    min-height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.dropdown span:hover {
    background-color: #1c1c1c;
}

.dropdown-content {
    display: none;
    color: white;
    background-color: #1d1d1d;
    min-width: 160px;
    line-height: 30px;
    border: rgb(38, 38, 38);
    border-style: solid;
    border-width: 1px 0 0 0;
    padding-left: 10%;
    transition: padding-left .1s, width .1s;
}

.dropdown-content:hover {
    background-color: #131313;
    padding-left: 20%;
    overflow-block: visible;
}

.expanded {
    display: block;
}

img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

#titlepage {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(21, 21, 21);
    color: white;
    margin: 0;
    margin-top: -100vh;
    height: 50px;
    line-height: 50px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
}

#titlepage img {
    max-height: 50vh !important;
    width: auto;
    padding-top: 15vh;
}

code {
    font-size: 90%;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: #f9f9f9;
    width: auto;
    padding: 20px;
    margin: 10px 0;
    width: calc(85vw - 300px);
    display: block;
    white-space: pre !important;
    line-height: 20px;
}

.prettyprinted span {
    font-family: 'Courier New' !important;
}

a {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(244, 232, 255);
}

section {
    width: 70vw;
    margin-left: 5vw;
}

h2 {
    font-size: 200%;
    font-weight: 200;
    margin-left: 30px;
}

h3 {
    font-size: 150%;
    font-weight: 100;
    padding: 15px 0;
    border: rgb(211, 211, 211);
    border-style: solid;
    border-width: 1px 0;
    margin-bottom: 35px;
}

li,
p {
    line-height: 25px;
    margin-left: 60px;
}

h4 {
    font-size: 130%;
    font-weight: 200;
    margin-left: 45px;
    border-bottom: #4b4b4b;
    border-width: 1px;
    padding-bottom: 5px;
    border-bottom-style: solid;
}

span.com {
    color: rgb(102, 102, 102);
    font-weight: 600;
}

span.typ {
    color: rgb(116, 255, 139);
}

span.lit {
    color: rgb(142, 238, 255);
}

span.pun {
    color: rgb(221, 221, 221);
}

span.pln {
    color: rgb(221, 221, 221);
}

span.kwd {
    color: rgb(85, 211, 159);
}

span.str {
    color: rgb(97, 151, 121);
}

.error {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    padding: 0;
    margin: 0;
}

.inline {
    padding: 4px;
    margin: 0;
    width: unset !important;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace
}

.toggle-dropdown {
    font-size: 20px;
    position: relative;
    float: right;
    margin-top: -30px;
    padding: 5px;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.toggle-dropdown:hover {
    color: rgba(255, 255, 255, 0.2);
}

.introcolor span {
    border-color: blueviolet;
}

.introcolor a.expanded span {
    background-color: blueviolet;
}

.primitivescolor span {
    border-color: #ec4444;
}

.primitivescolor a.expanded span {
    background-color: #ec4444;
}

.builtincolor span {
    border-color: #36c761;
}

.builtincolor a.expanded span {
    background-color: #36c761;
}

.link {
    text-decoration: none;
    color: rgb(219, 180, 255);
}

.titledropdown {
    background-color: #212121 !important;
}